.Header{
    background-color: #181818;
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    // padding: 12px;
    width: 130px;

    .logoBlock{
        background-color: #110f0f;
        width: 100%;
        height: 180px;
        .Logo{
            text-decoration: none;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
               font-size: 103px; 
               color: #585780;
               margin: 0;
               position: relative;
               left: -10px;
               line-height: 100px;
            }
            h1 > span{
                font-size: 90px;
                color: #dd4669;
                position: absolute;
                left: 30px;
                bottom: -5.3px;
            }
            h3{
                color: #ffffff;
                margin: 0;
            }
        }
        p{
            color: #8d8d8d;
            text-align: center;
            font-size: 12px;
            margin: 0;
            margin-top: 15px;
        }
    }

    .mainNav{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: center;
        }
        .mainNavItems{
            width: 130px;
            
            li{
                width: 100%;
            }
            a{
                text-decoration: none;
                font-size: 16px;
                font-family: "Open Sans", sans-serif;
                color: #8d8d8d;
                display: inline-block;
                padding: 14px 12px;
                width: 100%;
                border-bottom: 1px solid #282828;
            }
            li:first-child a{
                border-top: 1px solid #282828;

            }

            a:hover,
            a:active{
                color: #585780;
            }

        }
    }

    .mainNavSocial{
        margin: 0;
        height: 200px;
    }
}